@import './variables';

#headerContainer{
  background: transparent !important;
  position: fixed;
  top: 0px !important;
  left: 0px !important;
  width: 100vw !important;
  z-index: 2 !important;
  transition: all 500ms ease-in-out;

  &.fixed{

    .header-transition{
      opacity: 1;
    }
    .navbar-link, .navbar-sociallink{
      color: $primaryFontColorDark !important;
    }
    .navbar-link::after{
      border-color: $primaryFontColorDark !important;
    }
    .navbar-link:hover{
      color: $secondaryFontColorDark !important;
    }
    .navbar-link:hover::after{
      border-color: $secondaryFontColorDark !important;
    }
    .email:hover{
      color: #DB4439 !important;
    }
    .linkedin:hover{
      color: #0077B5 !important;
    }
    .twitter:hover{
      color: #1DA1F2 !important;
    }
    .git:hover{
      color: #000 !important;
    }

  }
}

.header-transition{
  height: 100% !important;
  width: 100vw !important;
  background: linear-gradient(to right, #1F1A27 , $secondaryFontColorDark);
  position: absolute;
  opacity: 0;
  top: 0px !important;
  transition: all 500ms ease-in-out;
}

.navbar-link {
  color: $secondaryFontColorDark !important;
  padding-right:.5rem;
  padding-left:.5rem;
  cursor: pointer;
  
  &::after{
    content: ""; 
    display: block;
    width: 10%;
    border-top: 1px solid $secondaryFontColorDark;
    transition: .5s;
  }

  &:hover{
    color: $primaryFontColorDark !important;
  }

  &:hover::after{
    width: 60%;
    border-color: $primaryFontColorDark;
  }
  
  &.active{
    color: $primaryFontColorDark !important;
  }

  &.active::after{
    width: 90%;
    border-color: $primaryFontColorDark;
  }

}

.navbar-sociallink{
  @include header-socialLinks;

  &:hover{
    color: $primaryFontColorDark !important;
  }
}

.email:hover{
  color: #DB4439 !important;
}
.linkedin:hover{
  color: #0077B5 !important;
}
.twitter:hover{
  color: #1DA1F2 !important;
}

.my-tooltip > .tooltip-inner {
  background-color: #fff;
  color: #000;
}

.my-tooltip > .arrow::before {
  border-bottom-color: #fff !important;
}

.my-tooltip.success > .tooltip-inner {
  background-color: #d8f5bb;
  color: #000;
}

.my-tooltip.success > .arrow::before {
  border-bottom-color: #d8f5bb;
}

.my-tooltip.fail > .tooltip-inner {
  background-color: #ebaba2;
  color: #000;
}

.my-tooltip.fail > .arrow::before {
  border-bottom-color: #ebaba2;
}

/*      ====  MOBILE  ====      */
#sidenavContainer{
  width: '0vw';
  height: '100vh';
  z-index: 2;
  background: #000000;
  opacity: 0.6;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  background-color: $primaryBackgroundColorDark;
  overflow-x: hidden;
  padding-top: 80px;
  transition: 0.5s;
}

.sidenav .sidenav-link {
  padding: 10px 10px 12px 38px;
  text-decoration: none;
  color: $primaryFontColorDark !important;
  display: block;
  transition: 0.3s;
}

.sidenav-link.active{
  color: $secondaryFontColorDark;
}

.sidenav .sidenav-link:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  right: 2rem;
  color: $primaryFontColorDark;
  top: 2rem;
  font-size: 1.2rem;
}

#mobileHeader{
  z-index: 2;
  height: 2.25rem;
  position: -webkit-sticky;
  position: sticky;
  transition: 0.3s;
  overflow: hidden;

  div#pageup-btn{
    position: fixed !important;
    right: 1.5rem;
    bottom: 4.5rem;
    border-radius: 3px;
    background: $secondaryFontColorDark !important;
    display: block;
    font-size: 1.4rem;
    font-weight: 600;
    padding: .25rem;
    box-shadow: 2px 4px 8px 2px rgba(0,0,0,0.2);
    opacity: 0;
    transition: 5s;

    &.show{
      opacity: 0.8;
      visibility: visible;
    }
  }
}

.openbtn{
  color: $primaryFontColorDark;
  font-size: 20px;
}

.mobileMenu-btn{
  background: #222;
  float: right !important;
  height: 100%;
  width: 2.5rem;
}

.mobile-toast{
  background-color: #d8f5bb !important;
  color: #000 !important;

  & > i{
    opacity: 0;
  }
}

@media only screen and (min-width: 481px) and (max-width: 1024px) and (orientation:portrait){
  .navbar-sociallink{
    padding-right: 0rem !important;
    padding-left: 0rem !important;
  }
}

@media screen and (max-height: 450px) {
  .sidenav {  padding-top: 15px;  }
  .sidenav a {  font-size: 18px;  }
}

@media screen and (max-width: 767px){
  #headerContainer.fixed{
    .header-transition{
      opacity: 0;
    }
  }
  .mobile-sociallink{
    @include header-socialLinks;
    position: absolute;
    padding: 0rem !important;

    &.git{
      margin-left: 3.5rem;
    }
    &.linkedin{
      margin-left: 6.5rem;
    }
    &.twitter{
      margin-left: 9.5rem;
    }
  }
}
