@import './variables';

.portfolioDetail-section {
  background: linear-gradient(
    to bottom,
    $primaryBackgroundColorDark,
    $secondaryFontColorDark
  );
}

.pfd-body {
  min-height: 100vh;
  top: 0px;
}

.carousel-container {
  box-shadow: 0rem 0.5rem 1rem 0rem rgba(0, 0, 0, 0.3);
  max-height: 75vh !important;
  overflow-y: scroll;
  background: #fff !important;
  padding: 0px !important;
  margin-bottom: 2.5rem;

  img#mahi-1 {
    content: url(../assets/designs/mahi-1.jpg);
  }
  img#mahi-2 {
    content: url(../assets/designs/mahi-2.jpg);
  }
  img#mahi-3 {
    content: url(../assets/designs/mahi-3.jpg);
  }
  img#qms {
    content: url(../assets/code/qms.png);
  }
  img#reverberate {
    content: url(../assets/code/reverberate.png);
  }
  img#insight-1 {
    content: url(../assets/designs/insight-1.jpg);
  }
  img#insight-2 {
    content: url(../assets/designs/insight-2.jpg);
  }
  img#insight-3 {
    content: url(../assets/designs/insight-3.jpg);
  }
  img#insight-4 {
    content: url(../assets/designs/insight-4.jpg);
  }
  img#insight-5 {
    content: url(../assets/designs/insight-5.jpg);
  }
  img#catalogue-1 {
    content: url(../assets/designs/catalogue-1.jpg);
  }
  img#catalogue-2 {
    content: url(../assets/designs/catalogue-2.jpg);
  }
  img#catalogue-3 {
    content: url(../assets/designs/catalogue-3.jpg);
  }
  img#catalogue-4 {
    content: url(../assets/designs/catalogue-4.jpg);
  }
  img#quare-1 {
    content: url(../assets/code/quare-1.jpg);
  }
  img#quare-2 {
    content: url(../assets/code/quare-2.jpg);
  }
  img#quare-3 {
    content: url(../assets/code/quare-3.jpg);
  }
  img#quare-4 {
    content: url(../assets/code/quare-4.jpg);
  }
  img#quare-5 {
    content: url(../assets/code/quare-5.jpg);
  }
  img#poster-1 {
    content: url(../assets/designs/poster-1.jpg);
  }
  img#poster-2 {
    content: url(../assets/designs/poster-2.jpg);
  }
  img#procure_infinity {
    content: url(../assets/code/procure-infinity.png);
  }
}

.project-title {
  font-size: 2rem;
  font-weight: 600;
}

.project-description,
.project-stack {
  font-size: 1.2rem;
}

.portfolio-header-logo {
  height: 4rem;
}

@media screen and (max-width: 767px) {
  .portfolio-header-logo {
    height: 3rem;
  }
}
