@import "./variables";

.banner-area {
  background: transparent;
  z-index: 0;
  min-height: 100vh;

  .parallax-background {
    height: 100%;
    width: 100%;
    display: block;
    top: 0px !important;
    left: 0px !important;
    margin: 0px;
    padding: 0px;
    position: fixed;
    background-attachment: fixed;
    background: url("../assets/banner-background.svg");
    background-repeat: no-repeat;
    background-size: cover !important;
    background-position: center;
    z-index: -1;
  }
}

.banner-area .fullscreen {
  height: 750px;
  align-items: center;
  justify-content: between;

  @media screen and (min-width: 500px) and (max-width: 768px) {
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
  }
  @media screen and (max-width: 412px) {
    min-height: 750px;
    height: auto;
  }
}

.banner-left {
  @media (max-width: 412px) {
    padding: 4rem 2rem;
  }

  .banner-name {
    font-size: 4rem;
  }
  .role-text {
    font-size: 1.8rem;
  }
  h5 {
    font-weight: 400;
    letter-spacing: 2px;
  }
  #typed {
    color: $secondaryFontColorDark;
  }
}

.banner-right {
  display: flex;
  justify-content: center;

  .img-fluid {
    border-top-right-radius: 12px;
    border-bottom-left-radius: 12px;
    @media (max-width: 412px) {
      max-height: 450px;
      margin-bottom: 14px;
    }
  }
}

@media (max-width: 991px) {
  .banner-left {
    .banner-name {
      font-size: 2rem;
    }
    .role-text {
      font-size: 1.25rem;
    }
  }
}
