@import url("https://fonts.googleapis.com/css?family=Poppins:100,200,400,300,500,600,700");
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700,800&display=swap");
@import url("https://fonts.googleapis.com/css?family=Leckerli+One&display=swap");
#headerContainer {
  background: transparent !important;
  position: fixed;
  top: 0px !important;
  left: 0px !important;
  width: 100vw !important;
  z-index: 2 !important;
  -webkit-transition: all 500ms ease-in-out;
  transition: all 500ms ease-in-out;
}

#headerContainer.fixed .header-transition {
  opacity: 1;
}

#headerContainer.fixed .navbar-link, #headerContainer.fixed .navbar-sociallink {
  color: #f1f1f1 !important;
}

#headerContainer.fixed .navbar-link::after {
  border-color: #f1f1f1 !important;
}

#headerContainer.fixed .navbar-link:hover {
  color: #EC9540 !important;
}

#headerContainer.fixed .navbar-link:hover::after {
  border-color: #EC9540 !important;
}

#headerContainer.fixed .email:hover {
  color: #DB4439 !important;
}

#headerContainer.fixed .linkedin:hover {
  color: #0077B5 !important;
}

#headerContainer.fixed .twitter:hover {
  color: #1DA1F2 !important;
}

#headerContainer.fixed .git:hover {
  color: #000 !important;
}

.header-transition {
  height: 100% !important;
  width: 100vw !important;
  background: -webkit-gradient(linear, left top, right top, from(#1F1A27), to(#EC9540));
  background: linear-gradient(to right, #1F1A27, #EC9540);
  position: absolute;
  opacity: 0;
  top: 0px !important;
  -webkit-transition: all 500ms ease-in-out;
  transition: all 500ms ease-in-out;
}

.navbar-link {
  color: #EC9540 !important;
  padding-right: .5rem;
  padding-left: .5rem;
  cursor: pointer;
}

.navbar-link::after {
  content: "";
  display: block;
  width: 10%;
  border-top: 1px solid #EC9540;
  -webkit-transition: .5s;
  transition: .5s;
}

.navbar-link:hover {
  color: #f1f1f1 !important;
}

.navbar-link:hover::after {
  width: 60%;
  border-color: #f1f1f1;
}

.navbar-link.active {
  color: #f1f1f1 !important;
}

.navbar-link.active::after {
  width: 90%;
  border-color: #f1f1f1;
}

.navbar-sociallink {
  font-size: 1.5em;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  margin: 0px 10px;
  color: #EC9540 !important;
}

.navbar-sociallink:hover {
  color: #f1f1f1 !important;
}

.email:hover {
  color: #DB4439 !important;
}

.linkedin:hover {
  color: #0077B5 !important;
}

.twitter:hover {
  color: #1DA1F2 !important;
}

.my-tooltip > .tooltip-inner {
  background-color: #fff;
  color: #000;
}

.my-tooltip > .arrow::before {
  border-bottom-color: #fff !important;
}

.my-tooltip.success > .tooltip-inner {
  background-color: #d8f5bb;
  color: #000;
}

.my-tooltip.success > .arrow::before {
  border-bottom-color: #d8f5bb;
}

.my-tooltip.fail > .tooltip-inner {
  background-color: #ebaba2;
  color: #000;
}

.my-tooltip.fail > .arrow::before {
  border-bottom-color: #ebaba2;
}

/*      ====  MOBILE  ====      */
#sidenavContainer {
  width: '0vw';
  height: '100vh';
  z-index: 2;
  background: #000000;
  opacity: 0.6;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  background-color: #080d25;
  overflow-x: hidden;
  padding-top: 80px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.sidenav .sidenav-link {
  padding: 10px 10px 12px 38px;
  text-decoration: none;
  color: #f1f1f1 !important;
  display: block;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.sidenav-link.active {
  color: #EC9540;
}

.sidenav .sidenav-link:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  right: 2rem;
  color: #f1f1f1;
  top: 2rem;
  font-size: 1.2rem;
}

#mobileHeader {
  z-index: 2;
  height: 2.25rem;
  position: -webkit-sticky;
  position: sticky;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  overflow: hidden;
}

#mobileHeader div#pageup-btn {
  position: fixed !important;
  right: 1.5rem;
  bottom: 4.5rem;
  border-radius: 3px;
  background: #EC9540 !important;
  display: block;
  font-size: 1.4rem;
  font-weight: 600;
  padding: .25rem;
  -webkit-box-shadow: 2px 4px 8px 2px rgba(0, 0, 0, 0.2);
          box-shadow: 2px 4px 8px 2px rgba(0, 0, 0, 0.2);
  opacity: 0;
  -webkit-transition: 5s;
  transition: 5s;
}

#mobileHeader div#pageup-btn.show {
  opacity: 0.8;
  visibility: visible;
}

.openbtn {
  color: #f1f1f1;
  font-size: 20px;
}

.mobileMenu-btn {
  background: #222;
  float: right !important;
  height: 100%;
  width: 2.5rem;
}

.mobile-toast {
  background-color: #d8f5bb !important;
  color: #000 !important;
}

.mobile-toast > i {
  opacity: 0;
}

@media only screen and (min-width: 481px) and (max-width: 1024px) and (orientation: portrait) {
  .navbar-sociallink {
    padding-right: 0rem !important;
    padding-left: 0rem !important;
  }
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}

@media screen and (max-width: 767px) {
  #headerContainer.fixed .header-transition {
    opacity: 0;
  }
  .mobile-sociallink {
    font-size: 1.5em;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    margin: 0px 10px;
    color: #EC9540 !important;
    position: absolute;
    padding: 0rem !important;
  }
  .mobile-sociallink.git {
    margin-left: 3.5rem;
  }
  .mobile-sociallink.linkedin {
    margin-left: 6.5rem;
  }
  .mobile-sociallink.twitter {
    margin-left: 9.5rem;
  }
}

.banner-area {
  background: transparent;
  z-index: 0;
}

.banner-area .parallax-background {
  height: 100%;
  width: 100%;
  display: block;
  top: 0px !important;
  left: 0px !important;
  margin: 0px;
  padding: 0px;
  position: fixed;
  background-attachment: fixed;
  background: url("../assets/banner-background.svg");
  background-repeat: no-repeat;
  background-size: cover !important;
  background-position: center;
  z-index: -1;
}

.banner-area .fullscreen {
  height: 750px;
}

.banner-left .banner-name {
  font-size: 3rem;
}

.banner-left .role-text {
  font-size: 1.5rem;
}

.banner-left h5 {
  font-weight: 400;
  letter-spacing: 2px;
}

.banner-left #typed {
  color: #EC9540;
}

.banner-right {
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 991px) {
  .banner-left .banner-name {
    font-size: 2rem;
  }
  .banner-left .role-text {
    font-size: 1.25rem;
  }
}

.about-section {
  background-attachment: fixed;
  background: url("../assets/about-bg.svg");
  background-repeat: no-repeat;
  background-size: cover !important;
  background-position: center;
}

.about-section .about-head {
  position: absolute !important;
  font-size: 6.5rem !important;
  -webkit-transform: rotate(270deg) !important;
          transform: rotate(270deg) !important;
  font-weight: 800 !important;
  opacity: 0.6 !important;
  color: #303551 !important;
  font-family: "Montserrat", sans-serif !important;
  left: -24rem;
  top: 4rem;
}

@media only screen and (max-width: 768px) and (orientation: portrait) {
  .about-section .about-head {
    -webkit-transform: rotate(0deg) !important;
            transform: rotate(0deg) !important;
    left: 1rem !important;
    top: -6rem !important;
    font-size: 3rem !important;
  }
}

@media only screen and (min-width: 481px) and (max-width: 1024px) and (orientation: portrait) {
  .about-section .about-head {
    -webkit-transform: rotate(0deg) !important;
            transform: rotate(0deg) !important;
    left: 0rem !important;
    top: -6rem !important;
    font-size: 3rem !important;
  }
}

.about-left-div {
  background: -webkit-gradient(linear, left top, left bottom, from(#d37e3c), to(#E4A981));
  background: linear-gradient(to bottom, #d37e3c, #E4A981);
  border-radius: 5px;
  margin-top: 4rem;
}

.about-left-div .about-subject-img {
  bottom: 0px;
  -webkit-transform: scaleX(-1) !important;
          transform: scaleX(-1) !important;
  height: 30rem;
  margin-top: 6rem;
}

.about-right-div {
  padding: 3rem !important;
}

@media (max-width: 1280px) and (min-width: 1280px) {
  .about-left-div {
    left: 23%;
  }
  .about-left-div {
    left: 0%;
  }
}

@media only screen and (max-width: 768px) and (orientation: portrait) {
  .about-left-div .about-subject-img {
    height: auto !important;
  }
  .about-right-div {
    padding: 2rem !important;
  }
}

@media only screen and (min-width: 481px) and (max-width: 1024px) and (orientation: portrait) {
  .about-left-div .about-subject-img {
    height: auto !important;
  }
}

.resume-section {
  padding: 7em 0;
  position: relative;
  background: #080d25;
}

.resume-section .resume-head {
  position: absolute !important;
  font-size: 6.5rem !important;
  -webkit-transform: rotate(270deg) !important;
          transform: rotate(270deg) !important;
  font-weight: 800 !important;
  opacity: 0.6 !important;
  color: #303551 !important;
  font-family: "Montserrat", sans-serif !important;
  top: 7rem;
  left: -25rem;
}

@media only screen and (max-width: 768px) and (orientation: portrait) {
  .resume-section .resume-head {
    -webkit-transform: rotate(0deg) !important;
            transform: rotate(0deg) !important;
    left: 1rem !important;
    top: -6rem !important;
    font-size: 3rem !important;
  }
}

@media only screen and (min-width: 481px) and (max-width: 1024px) and (orientation: portrait) {
  .resume-section .resume-head {
    -webkit-transform: rotate(0deg) !important;
            transform: rotate(0deg) !important;
    left: 0rem !important;
    top: -6rem !important;
    font-size: 3rem !important;
  }
}

.resume-section h2 {
  color: #f1f1f1;
}

.resume-section .icon {
  color: #f1f1f1;
  padding: 4px;
}

@media (max-width: 767.98px) {
  .resume-section {
    padding: 6em 0;
  }
}

#navi {
  top: 180px;
  position: -webkit-sticky;
  position: sticky;
  margin: 0;
}

#navi ul {
  margin: 0;
  padding: 0;
}

#navi li {
  font-weight: 700;
  list-style: none;
  margin-bottom: 10px;
}

#navi li a {
  color: #f1f1f1;
}

#navi li a.current {
  color: #3e64ff;
  margin-left: 20px;
  position: relative;
}

#navi li a.current:after {
  position: absolute;
  top: 50%;
  left: -24px;
  width: 20px;
  height: 2px;
  content: "";
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  background: #EC9540;
}

.page {
  width: 100%;
  margin-bottom: 7em;
  color: whitesmoke;
}

.page.four {
  margin-bottom: 0;
}

.page .heading {
  font-weight: 800;
  font-size: 30px;
  margin-bottom: 30px;
  color: #EC9540;
}

.resume-wrap {
  width: 100%;
  margin-bottom: 30px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding-bottom: 10px;
}

.resume-wrap .icon {
  width: 50px !important;
  height: 50px !important;
  background: -webkit-gradient(linear, right top, left top, from(#d37e3c), to(#E4A981));
  background: linear-gradient(to left, #d37e3c, #E4A981);
  border-radius: 50% !important;
}

.resume-wrap .icon span {
  color: #fff;
  font-size: 28px;
}

.resume-wrap .text {
  width: calc(100% - 50px);
}

.resume-wrap .date {
  font-weight: 700;
  font-size: 16px;
  color: #EC9540;
}

.resume-wrap h2 {
  font-size: 24px;
  font-weight: 700;
}

.resume-wrap .position {
  font-size: 18px;
  font-weight: 700;
  color: #f1f1f1;
}

.progress-bar {
  background: -webkit-gradient(linear, right top, left top, from(#d37e3c), to(#E4A981)) !important;
  background: linear-gradient(to left, #d37e3c, #E4A981) !important;
}

.resume-link {
  cursor: pointer !important;
}

.download-resume {
  cursor: pointer;
  font-weight: 400;
  color: #EC9540 !important;
  -webkit-transition: all ease-in 200ms;
  transition: all ease-in 200ms;
}

.download-resume::after {
  content: "";
  display: block;
  width: 5%;
  border-top: 1px solid #EC9540;
  -webkit-transition: .5s;
  transition: .5s;
}

.download-resume:hover {
  color: #f1f1f1 !important;
}

.download-resume:hover::after {
  width: 50%;
  border-color: #f1f1f1;
}

.portfolio-section {
  background: radial-gradient(#282E43, #080d25);
  padding: 7em 0em !important;
  min-height: 100%;
  -webkit-transition: all ease-in 300ms;
  transition: all ease-in 300ms;
}

.portfolio-section .portfolio-head {
  position: absolute !important;
  font-size: 6.5rem !important;
  -webkit-transform: rotate(270deg) !important;
          transform: rotate(270deg) !important;
  font-weight: 800 !important;
  opacity: 0.6 !important;
  color: #303551 !important;
  font-family: "Montserrat", sans-serif !important;
  left: -31rem;
  top: 12rem;
}

@media only screen and (max-width: 768px) and (orientation: portrait) {
  .portfolio-section .portfolio-head {
    -webkit-transform: rotate(0deg) !important;
            transform: rotate(0deg) !important;
    left: 1rem !important;
    top: -6rem !important;
    font-size: 3rem !important;
  }
}

@media only screen and (min-width: 481px) and (max-width: 1024px) and (orientation: portrait) {
  .portfolio-section .portfolio-head {
    -webkit-transform: rotate(0deg) !important;
            transform: rotate(0deg) !important;
    left: 0rem !important;
    top: -6rem !important;
    font-size: 3rem !important;
  }
}

.portfolio-section ul {
  list-style-type: none !important;
}

.portfolio-section ul li {
  padding: .25rem;
  color: #f1f1f1;
  cursor: pointer;
  -webkit-transition: all ease-in 200ms;
  transition: all ease-in 200ms;
}

.portfolio-section ul li:nth-child(even) {
  border-left: none;
  border-right: none;
}

.portfolio-section ul li.active {
  color: #EC9540 !important;
  font-weight: 800;
}

.portfolio-section ul li:hover {
  color: #EC9540 !important;
}

.portfolio-section .pf-card {
  margin: 1rem;
  border-radius: .5rem;
  -webkit-box-shadow: 0rem 0.5rem 1rem 0rem rgba(236, 249, 255, 0.3);
          box-shadow: 0rem 0.5rem 1rem 0rem rgba(236, 249, 255, 0.3);
  background-size: cover;
  background-position: center;
  -webkit-transition: all ease-in-out 300ms;
  transition: all ease-in-out 300ms;
  min-height: 25vh;
  padding: 0px;
  color: #fff !important;
  cursor: pointer;
}

.portfolio-section .pf-card#reverberate {
  background-image: url("../assets/reverberate-preview.png");
}

.portfolio-section .pf-card#procure_infinity {
  background-image: url("../assets/procure_infinity-preview.png");
  background-repeat: no-repeat;
  background-color: #fdf3f3;
}

.portfolio-section .pf-card#qms {
  background-image: url("../assets/qms-preview.png");
}

.portfolio-section .pf-card#mahi {
  background-image: url("../assets/mahi-preview.png");
}

.portfolio-section .pf-card#catalog {
  background-image: url("../assets/catalog-preview.png");
}

.portfolio-section .pf-card#poster {
  background-image: url("../assets/poster-preview.png");
}

.portfolio-section .pf-card#quare {
  background-image: url("../assets/quare-preview.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-color: #fff;
}

.portfolio-section .pf-card#insight {
  background-image: url("../assets/insight-preview.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  background-color: #fff;
}

.portfolio-section .pf-card div {
  background-color: rgba(236, 149, 64, 0.8);
  padding: 0rem;
  height: 0px;
  width: 100% !important;
  overflow: hidden;
  -webkit-transition: all ease-in-out 300ms;
  transition: all ease-in-out 300ms;
}

.portfolio-section .pf-card div p {
  font-size: 1.3rem;
}

.portfolio-section .pf-card:hover {
  -webkit-box-shadow: 0rem 0.5rem 1rem 0rem rgba(0, 0, 0, 0.3);
          box-shadow: 0rem 0.5rem 1rem 0rem rgba(0, 0, 0, 0.3);
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.portfolio-section .pf-card:hover div {
  padding: 0.5rem;
  height: 100%;
}

.portfolio-section .portfolio-gallery {
  -webkit-transition: all ease-in-out 400ms;
  transition: all ease-in-out 400ms;
}

@media only screen and (min-width: 481px) and (max-width: 1024px) and (orientation: portrait) {
  .pf-card {
    min-height: 15vh !important;
  }
}

.contact-section {
  min-height: 75vh;
  padding: 7em 0em 0em 0em !important;
  background: -webkit-gradient(linear, left top, right bottom, from(#080d25), to(rgba(8, 13, 57, 0.6)));
  background: linear-gradient(to bottom right, #080d25, rgba(8, 13, 57, 0.6));
}

.contact-section .contact-lower-container {
  background: -webkit-gradient(linear, left top, left bottom, from(#080d25), to(#EC9540));
  background: linear-gradient(to bottom, #080d25, #EC9540);
  padding: 4rem 0rem 6rem 0rem;
}

.contact-section .contact-lower-container .contact-btn {
  background: #EC9540 !important;
  color: #f1f1f1 !important;
  border-color: #f1f1f1 !important;
  -webkit-transition: all 400ms;
  transition: all 400ms;
  width: 6rem;
}

.contact-section .contact-lower-container .contact-btn:hover {
  background: #f1f1f1 !important;
  color: #EC9540 !important;
}

.contact-section span {
  font-size: 1.1rem;
}

.contact-section p {
  font-size: 1.3rem;
  margin: 1rem 0rem;
}

.contact-icon-container {
  width: 50px !important;
  height: 50px !important;
  background: -webkit-gradient(linear, right top, left top, from(#d37e3c), to(#E4A981));
  background: linear-gradient(to left, #d37e3c, #E4A981);
  border-radius: 50% !important;
}

.contact-icon-container#linkedin {
  background: -webkit-gradient(linear, right bottom, left top, from(#0077B5), to(rgba(245, 241, 241, 0.4))) !important;
  background: linear-gradient(to top left, #0077B5, rgba(245, 241, 241, 0.4)) !important;
}

.contact-icon-container#twitter {
  background: -webkit-gradient(linear, right bottom, left top, from(#1DA1F2), to(rgba(245, 241, 241, 0.4))) !important;
  background: linear-gradient(to top left, #1DA1F2, rgba(245, 241, 241, 0.4)) !important;
}

.contact-icon-container#gmail {
  background: -webkit-gradient(linear, right bottom, left top, from(#DB4439), to(rgba(219, 68, 57, 0.4))) !important;
  background: linear-gradient(to top left, #DB4439, rgba(219, 68, 57, 0.4)) !important;
}

.contact-icon-container .icon {
  font-size: 1.6rem !important;
}

.contact-head {
  position: absolute !important;
  font-size: 6.5rem !important;
  -webkit-transform: rotate(270deg) !important;
          transform: rotate(270deg) !important;
  font-weight: 800 !important;
  opacity: 0.6 !important;
  color: #303551 !important;
  font-family: "Montserrat", sans-serif !important;
  top: 8rem;
  left: -27rem;
}

@media only screen and (max-width: 768px) and (orientation: portrait) {
  .contact-head {
    -webkit-transform: rotate(0deg) !important;
            transform: rotate(0deg) !important;
    left: 1rem !important;
    top: -6rem !important;
    font-size: 3rem !important;
  }
}

@media only screen and (min-width: 481px) and (max-width: 1024px) and (orientation: portrait) {
  .contact-head {
    -webkit-transform: rotate(0deg) !important;
            transform: rotate(0deg) !important;
    left: 0rem !important;
    top: -6rem !important;
    font-size: 3rem !important;
  }
}

.contact-left {
  padding-left: 7rem !important;
  padding-top: 7rem !important;
}

.contact-left p {
  font-size: 2rem;
}

.contact-left span.linkedin {
  color: #0077B5;
}

.contact-left span.twitter {
  color: #1DA1F2;
}

.contact-left span.gmail {
  color: #DB4439;
}

@media only screen and (min-width: 481px) and (max-width: 1024px) and (orientation: portrait) {
  .contact-left {
    padding: 0px !important;
  }
  .contact-icon-container {
    height: 40px !important;
    width: 40px !important;
  }
  .contact-icon-container .icon {
    font-size: 1.4rem !important;
  }
}

.image-section {
  min-height: 50vh;
}

.image-section img {
  height: auto !important;
}

@media only screen and (max-width: 768px) and (orientation: portrait) {
  .image-section img {
    height: auto !important;
  }
  .contact-left {
    padding: 1rem !important;
  }
}

@media only screen and (min-width: 812px) and (max-width: 1023px) and (orientation: landscape) {
  .contact-left {
    padding-left: 0px !important;
    padding-top: 0px !important;
  }
  .image-section img {
    height: auto !important;
  }
}

.footer-section {
  min-height: 8vh;
  background: #EC9540;
  padding: 1rem 0rem;
  border-top: 1px solid rgba(255, 246, 252, 0.6);
}

.portfolioDetail-section {
  background: -webkit-gradient(linear, left top, left bottom, from(#080d25), to(#EC9540));
  background: linear-gradient(to bottom, #080d25, #EC9540);
}

.pfd-body {
  min-height: 100vh;
  top: 0px;
}

.carousel-container {
  -webkit-box-shadow: 0rem 0.5rem 1rem 0rem rgba(0, 0, 0, 0.3);
          box-shadow: 0rem 0.5rem 1rem 0rem rgba(0, 0, 0, 0.3);
  max-height: 75vh !important;
  overflow-y: scroll;
  background: #fff !important;
  padding: 0px !important;
  margin-bottom: 2.5rem;
}

.carousel-container img#mahi-1 {
  content: url(../assets/designs/mahi-1.jpg);
}

.carousel-container img#mahi-2 {
  content: url(../assets/designs/mahi-2.jpg);
}

.carousel-container img#mahi-3 {
  content: url(../assets/designs/mahi-3.jpg);
}

.carousel-container img#qms {
  content: url(../assets/code/qms.png);
}

.carousel-container img#reverberate {
  content: url(../assets/code/reverberate.png);
}

.carousel-container img#insight-1 {
  content: url(../assets/designs/insight-1.jpg);
}

.carousel-container img#insight-2 {
  content: url(../assets/designs/insight-2.jpg);
}

.carousel-container img#insight-3 {
  content: url(../assets/designs/insight-3.jpg);
}

.carousel-container img#insight-4 {
  content: url(../assets/designs/insight-4.jpg);
}

.carousel-container img#insight-5 {
  content: url(../assets/designs/insight-5.jpg);
}

.carousel-container img#catalogue-1 {
  content: url(../assets/designs/catalogue-1.jpg);
}

.carousel-container img#catalogue-2 {
  content: url(../assets/designs/catalogue-2.jpg);
}

.carousel-container img#catalogue-3 {
  content: url(../assets/designs/catalogue-3.jpg);
}

.carousel-container img#catalogue-4 {
  content: url(../assets/designs/catalogue-4.jpg);
}

.carousel-container img#quare-1 {
  content: url(../assets/code/quare-1.jpg);
}

.carousel-container img#quare-2 {
  content: url(../assets/code/quare-2.jpg);
}

.carousel-container img#quare-3 {
  content: url(../assets/code/quare-3.jpg);
}

.carousel-container img#quare-4 {
  content: url(../assets/code/quare-4.jpg);
}

.carousel-container img#quare-5 {
  content: url(../assets/code/quare-5.jpg);
}

.carousel-container img#poster-1 {
  content: url(../assets/designs/poster-1.jpg);
}

.carousel-container img#poster-2 {
  content: url(../assets/designs/poster-2.jpg);
}

.carousel-container img#procure_infinity {
  content: url(../assets/code/procure-infinity.png);
}

.project-title {
  font-size: 2rem;
  font-weight: 600;
}

.project-description, .project-stack {
  font-size: 1.2rem;
}

body {
  font-family: "Poppins", sans-serif !important;
  color: #f1f1f1 !important;
}

body::-webkit-scrollbar {
  width: 0.6rem !important;
}

body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3) !important;
}

body::-webkit-scrollbar-thumb {
  background-color: darkgrey !important;
  outline: 1px solid slategrey !important;
}

ol,
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

a,
a:focus,
a:hover {
  text-decoration: none;
  outline: 0;
}

.App {
  position: relative;
}
/*# sourceMappingURL=style.css.map */